*.json filter=lfs diff=lfs merge=lfs -text
*.mshc filter=lfs diff=lfs merge=lfs -text
/cleaned_data/json_data/processed_documents.json filter=lfs diff=lfs merge=lfs -text
/cleaned_data/normalized_data/normalized_documents.json filter=lfs diff=lfs merge=lfs -text
/microsoft-help-lib/ESSENTIALSTUDIOHELPVS2012.1.mshc filter=lfs diff=lfs merge=lfs -text
/microsoft-help-lib/ESSENTIALSTUDIOHELPVS2012.1.zip filter=lfs diff=lfs merge=lfs -text
/wf/WF_GRID.1.mshc filter=lfs diff=lfs merge=lfs -text
/wf/WF_TOOLS.1.mshc filter=lfs diff=lfs merge=lfs -text
/wf/WF_XLSIO.1.mshc filter=lfs diff=lfs merge=lfs -text
/wf/WF_XLSIO.1.mshi filter=lfs diff=lfs merge=lfs -text
/wf_converted_markitdown/WF_GRID.1.md filter=lfs diff=lfs merge=lfs -text
/wf_converted_markitdown/WF_TOOLS.1.md filter=lfs diff=lfs merge=lfs -text
